/* -------------- MAX-WIDTH 980 px --------------- */
@media only screen and (max-width: 980px) {

  .main-menu li a {
  font-size: 10px; 
  }

  .main-menu h3 {
  font-size: 10px; 
  }

  .main-menu li a:hover {
    font-size: 12px; 
  }

  .earth {
     height: 400px; 
     width: 400px; 
     margin-left: -200px; 
     top: 250px; 
     background-size: 600px 400px; 
  }

  .satellite img {
      height: 640px; 
      width: 640px; 
      margin-left: -320px; 
      top: 130px; 
  }

  .myPic img {
    width: 360px; 
    height: 360px; 
    top: 280px; 
    margin-left: -180px; 
  }

  .main-menu-bg {
    height: 120px; 
  }

  .main-menu li {
    display: list-item; 
    text-align: center; 
  }

  .main-menu li h3 {
    display: none; 
  }
  
  .aboutPage-wrapper h2 {
    font-size: 20px; 
  }

  .workPage-wrapper h2{
    font-size: 20px; 
  } 
  

}

/* -------------- MAX-WIDTH 1350 px --------------- */
@media only screen and (max-width: 1350px) {

  .main-menu {
    margin-top: 10px;
  }

  .main-menu li a {
    font-size: 20px; 
  }

  .main-menu h3 {
    font-size: 20px; 
  }
  
  .main-menu li a:hover {
    font-size: 22px; 
  }
  
  .workPage-wrapper ul {
    padding-left: 0px; 
  }

  .workContent { 
    margin-left: 5%; 
    width: 90%; 
  }

    /* research settings */ 
    
    .img-slide {
      width: 500px; 
      height: 600px; 
      margin-left: -250px; 
    }

    .img-overlay {
      width: 500px; 
      height: 600px; 
      margin-left: -247px; 
    }

    .img-overlay h2 {
      font-size: 20px; 
      padding-bottom: 15px; 
    }

    .img-overlay h3 {
      font-size: 15px; 
    }
    
    .img-btn { 
      top: 525px; 
      font-size: 30px; 
      width: 50px; 
      height: 50px; 
    }

    .right-btn {
      margin-right: -246px; 
    }

    .left-btn {
      margin-left: -236px; 
    }
  
    .allslide {
      width: 500px; 
      height: 100px; 
      top: 500px; 
      margin-left: -247px; 
    }

    .allslide ul { 
      width: 500px; 
      margin-left: -247px; 
    }


    .allslide-overlay-right {
      top: 500px; 
      height: 100px; 
      width: 200px; 
      margin-left: 56px; 
    }
    
    .allslide-overlay-left {
      top: 500px; 
      width: 216px; 
      height: 100px; 
      margin-left: -256px; 
    }

    .allslide li {
      width: 100px; 
      height: 100px;
    }

    .allslide img {
      height: 95px; 
      width: 97px; 
    }
    
}

/* -------------- MAX-WIDTH 480 px --------------- */

@media only screen and (max-width: 480px) {
    
    

  .workPage-wrapper ul {
    padding-left: 0px; 
  }

  @keyframes skew-in {
    0% {
      top: 0px; 
      font-size: 0px; 
    }
    80% {
      top: 100px; 
    }
    100% {
      top: 100px;
      font-size: 20px; 
    }
  }

  #logo-bg {
    width: 100px;
    height: 75px;
  }

  .center-logo {
    margin-left: -50px; 
    top: 10px; 
  }
  
  .workPage-wrapper h2{
    font-size: 15px; 
  } 

  .main-menu li a {
  font-size: 12px; 
  }

  .main-menu h3 {
  font-size: 12px; 
  }

  .main-menu li a:hover {
    font-size: 12px; 
  }

  .earth {
     height: 250px; 
     width: 250px; 
     margin-left: -125px; 
     top: 200px; 
     background-size: 600px 250px; 
  }

  .satellite img {
      height: 400px; 
      width: 400px; 
      margin-left: -200px; 
      top: 225px; 
  }

  .myPic img {
    width: 225px; 
    height: 225px; 
    top: 220px; 
    margin-left: -112px; 
  }

  .main-menu-bg {
    height: 100px; 
  }

  .main-menu li {
    display: list-item; 
    text-align: center; 
  }

  .main-menu li h3 {
    display: none; 
  }

  .aboutPage-wrapper h2 {
    font-size: 15px; 
  }

  .showh3 {
    font-size: 10px!important; 
  }

  .showh4 {
    font-size: 9px!important; 
  }
  
  .showh3_1 {
    font-size: 10px!important; 
  }

  .showh4_1 {
    font-size: 9px!important; 
  }


  /* timeline settings */
    .timeline-wrapper h4 { 
        font-size: 10px;
    }

    .timeline-wrapper p {
      font-size: 8px; 
    }

    /* project settings */ 
    .projectPage-wrapper h2 {
      font-size: 12px;     
    }

    .projectPage-wrapper h3 {
      font-size: 12px;     
    }

    .projectPage-wrapper h4 {
      font-size: 10px;     
    }

    .project-img img { 
      height: 50px; 
      width: 50px; 
    }

    /* contact settings */ 

    .contact-wrapper h2 {
      font-size: 15px; 
    }
    
    .contact-wrapper h3 {
      font-size: 10px; 
    }
    .right-wrapper {
      padding-left: 2px; 
    }


    /* work settings */ 
    .workContent {
      padding-left: 0px;
      margin-left: 10px; 
    }

    /* research settings */ 
    
    .img-slide {
      width: 300px; 
      height: 400px; 
      margin-left: -150px; 
    }

    .img-overlay {
      width: 300px; 
      height: 400px; 
      margin-left: -147px; 
    }

    .img-overlay h2 {
      font-size: 12px; 
      padding-bottom: 10px; 
    }

    .img-overlay h3 {
      font-size: 10px; 
    }
    
    .img-btn { 
      top: 355px; 
      font-size: 20px; 
      width: 30px; 
      height: 30px; 
    }

    .right-btn {
      margin-right: -146px; 
    }

    .left-btn {
      margin-left: -140px; 
    }
  
    .allslide {
      width: 300px; 
      height: 50px; 
      top: 350px; 
      margin-left: -147px; 
    }

    .allslide ul { 
      width: 300px; 
    }


    .allslide-overlay-right {
      top: 350px; 
      height: 50px; 
      width: 121px; 
      margin-left: 35px; 
    }
    
    .allslide-overlay-left {
      top: 350px; 
      width: 121px; 
      height: 50px; 
      margin-left: -150px; 
    }

    .allslide li {
      width: 60px; 
      height: 50px;
    }

    .allslide img {
      height: 45px; 
      width: 57px; 
    }
    
    .allslide ul {
      margin-left: -147px; 
    }

}
